@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


/* .selected {
  background-color: #aaa;
}
#main-menu{
  border: solid red 1px;
  padding:10px;
  width: 500px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top:50 px;
  margin-top: 50px;
  background:aquamarine;

}
#main-menu div{
  border: solid 1px;
}
#main-menu div:hover{
  color: aqua;
} */

.container{
  width: 300px;
  height: 100px;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
  font-family: 'Limelight', cursive;

.container div:hover{
 color: aqua;
}